.btn{
	width: 90px;
	height: 50px;
	border-radius: 25px;
	border:5px solid #fff;
	background: rgb(115, 218, 123);
	box-shadow: 0 0 5px rgb(156, 156, 156);
	overflow: hidden;
	padding:3px;
	transition: 0.3s background;
}
#btnAdd{
	background: rgb(202, 72, 72);
}
.switch{
	width: 34px;
	height: 34px;
	border-radius: 20px;
	box-shadow: 0 0 7px rgb(156, 156, 156);
	background-color: #fff;
	transform:translateX(0);
	transition: 0.3s transform, 0.3s background;
}
#switchAdd{
	transform:translateX(40px);
}